@use "../../utils/functions/" as *;
@use "../../utils/mixins" as *;

.choose {
  padding-bottom: 100px;

  &__title {
    margin-bottom: 52px;
  }

  &__item {
    counter-increment: adv-counter;
    position: relative;
    padding: 60px 0;

    &::before {
      content: counter(adv-counter, decimal-leading-zero);
      position: absolute;
      left: 0;
      font-size: clamp(25px, 0.2083rem + 4.6296vi, 70px);
      line-height: 1.1;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: var(--color-white);
      opacity: 0.2;
    }
  }

  &__desc {
    padding-left: 155px;
  }

  h2 {
    margin-bottom: 0;
    line-height: 1.8;
  }

  h3 {
    margin-bottom: 48px;
    font-size: clamp(25px, 0.2083rem + 4.6296vi, 70px);
  }

  @include media(tablet-wide) {
    padding-bottom: 80px;

    &__desc {
      padding-left: 65px;
    }

    &__item {
      padding: 30px;

      &::before {
        margin-bottom: 16px;
      }
    }
  }

  @include media(tablet) {
    padding-bottom: 35px;

    &__title {
      margin-bottom: 30px;
    }

    &__item {
      padding: 30px;
    }

    h3 {
      margin-bottom: 16px;
    }
  }

  @include media(mobile-l) {
    &__item {
      padding: 16px 0;
    }

    h2 {
      line-height: 1.2;
    }
  }
}
