@use "../../utils/functions/" as *;
@use "../../utils/mixins" as *;

.discover {
  padding: 150px 0;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
    gap: 20px;
  }

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    img {
      width: 100%;
    }
  }

  &__link {
    position: absolute;
    left: 50%;
    bottom: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 386px;
    background-color: var(--color-white);
    transform: translateX(-50%);

    a {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: var(--color-black);
      transition: color 0.3s linear;
      gap: 10px;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
      }

      &::after {
        @include mask;

        mask-image: url("../images/icons/arrow-small.svg");
        width: 7px;
        height: 6px;
      }

      &:hover {
        color: var(--color-blue-200);
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    font-weight: var(--fw-500);
    gap: 4px;

    span {
      font-size: 12px;
      color: var(--color-gray-300);
      text-transform: uppercase;
    }

    p {
      font-size: clamp(18px, 0.9792rem + 0.6481vi, 25px);
      color: var(--color-black);
    }
  }

  &__image {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    &::before {
      background: rgba(0, 0, 0, 0.2);
    }

    a {
      position: absolute;
      z-index: 1;
      display: flex;
      align-items: center;
      overflow: hidden;
      border-radius: 10px;
      padding: 42px 30px;
      width: 100%;
      max-width: 312px;
      top: 50%;
      left: 50%;
      margin: 0 auto;
      transform: translate(-50%, -50%);
      font-size: 23px;
      color: var(--color-black);
      background-color: var(--color-white);
      transition: color 0.3s linear;
      gap: 10px;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
      }

      &::after {
        @include mask;

        position: absolute;
        right: 40px;
        mask-image: url("../images/icons/arrow-small.svg");
        width: 18px;
        height: 16px;
      }

      &:hover {
        color: var(--color-blue-200);
      }
    }

    img {
      min-height: 150px;
    }
  }

  h3 {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    top: 47%;
    transform: translateY(-50%);
    text-align: center;
  }

  &--tours {
    padding: 0 0 131px;
  }

  @include media(tablet-wide) {
    padding: 80px 0;
  }

  @include media(tablet) {
    padding: 35px 0;

    &__list {
      grid-template-columns: repeat(2, 1fr);
    }

    &__item {
      &:last-child {
        grid-column: 2 span;

        img {
          object-position: top;
          aspect-ratio: 2/1;
        }
      }
    }

    &__link {
      padding: 10px;
    }

    &__image {
      a {
        padding: 16px;
      }
    }
  }

  @include media(mobile-l) {
    &__list {
      grid-template-columns: 1fr;
    }

    &__link {
      bottom: 0;
    }

    &__item {
      img {
        object-position: top;
        aspect-ratio: 2/1;
      }

      &:last-child {
        grid-column: auto;
      }
    }
  }
}
