@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.additional {
  $root: &;

  &__wrapper {
    display: flex;
    align-items: center;
    padding-right: max(16px, calc((100% - 1320px) / 2));
  }

  &__content {
    width: 566px;
  }

  &__image {
    --margin: 184px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: var(--margin);
    width: calc(100% - 566px - 184px);

    img {
      width: 100%;
    }
  }

  &--reverse {
    #{$root}__wrapper {
      display: flex;
      align-items: center;
      padding-right: 0;
      padding-left: max(16px, calc((100% - 1320px) / 2));
    }

    #{$root}__image {
      margin-right: 0;
      margin-left: var(--margin);
    }
  }

  h2 {
    margin-bottom: 48px;
    font-size: clamp(1.125rem, 0.8333rem + 1.2963vi, 2rem);
  }

  @include media(tablet-wide) {
    #{$root}__image {
      --margin: 100px;
      width: 550px;
    }
  }

  @include media(tablet) {
    #{$root}__wrapper {
      flex-direction: column;
      justify-content: center;
      margin: 0;
      padding: 0 16px;
      gap: 30px;
    }

    #{$root}__image {
      --margin: 0;

      width: 100%;

      img {
        aspect-ratio: 2/1;
      }
    }

   #{$root}__content {
      width: 100%;
    }

    h2 {
      margin-bottom: 30px;
    }
  }
}
