@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.articles {
  h2 {
    margin-bottom: 24px;
    font-size: clamp(20px, 1rem + 1.1111vi, 32px);
    color: var(--color-blue-200);
  }

  &__list {
    padding: 48px 0;

    li {
      &:not(:last-child) {
        margin-bottom: 48px;
      }
    }
  }

  @include media(tablet) {
    padding: 30px 0;

    li {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
}
