@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.header {
  position: fixed;
  top: 50px;
  z-index: 10;
  padding: 0;
  width: 100%;
  background-color: transparent;
  transition-property: background-color, transform, padding;
  transition-duration: 0.25s;

  &.hide {
    transform: translateY(-200%);
  }

  &.scroll,
  &.active,
  &--colored {
    background: var(--color-black);
  }

  &.scroll {
    top: 0;
    padding: 16px 0;
  }

  @include media(tablet) {
    top: 0;
    padding: 16px 0;
  }
}
