@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.hero {
  $root: &;

  // position: relative;
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    min-height: 900px;

    &::before {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.2);
      inset: 0;
      z-index: -1;
    }
  }

  &__content {
    padding: 138px 0 123px;
    position: relative;
    z-index: 1;

    .subtext {
      width: 100%;
      max-width: 400;
      margin-bottom: 167px;
    }
  }

  &__bottom {
    // padding-top: 160px;

    p {
      font-weight: var(--fw-300);
      font-size: clamp(35px, 0.8333rem + 6.0185vi, 100px);
      line-height: 1.05;
      letter-spacing: -0.01em;
      text-align: center;
      mix-blend-mode: difference;
      text-transform: uppercase;
    }
  }

  h1 {
    margin-bottom: 148px;
    text-align: center;
  }

  &--home {
    .hero__content {
      margin-bottom: 179px;
      padding: 0;
    }
    .subtext {
      translate: 0 15px;
    }

    h1 {
      margin-bottom: 134px;
    }
  }
}
