@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.hero {
  $root: &;

  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 1440px;

    &::before {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.2);
      inset: 0;
      z-index: -1;
    }
  }

  &__content {
    padding-top: 150px;
    position: relative;
    z-index: 1;


    p {
      width: 100%;
      max-width: 400;
      font-size: clamp(16px, 1.0208rem + 0.463vi, 1.4375rem);
      color: var(--color-gray-50);
    }
  }

  &__bottom {
    padding-top: 100px;
    
    p {
      font-weight: var(--fw-300);
      font-size: clamp(35px, 0.8333rem + 6.0185vi, 100px);
      line-height: 1.05;
      letter-spacing: -0.01em;
      text-align: center;
      mix-blend-mode: difference;
      text-transform: uppercase;
    }
  }

  h1 {
    margin-bottom: 134px;
    text-align: center;
  }
}
