@use "../../utils/functions/" as *;
@use "../../utils/mixins" as *;

.team {
  padding: 86px 0 150px;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    img {
      width: 100%;
    }
  }

  &__desc {
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    padding: 20px;
    width: 100%;
    max-width: 386px;
    background-color: var(--color-white);
  }

  span {
    font-weight: var(--fw-500);
    font-size: 12px;
    text-transform: uppercase;
    color: var(--color-gray-300);
  }

  h2 {
    margin-bottom: 56px;
  }

  h3 {
    font-weight: var(--fw-500);
    font-size: 25px;
    color: var(--color-black);
  }

  @include media(tablet-wide) {
    padding: 40px 0 70px;
  }

  @include media(tablet-wide) {
    padding: 40px 0;
  }

  @include media(tablet) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }

    &__item {
      &:last-child {
        grid-column: 2 span;

        img {
          aspect-ratio: 2/1;
        }
      }
    }
  }

  @include media(mobile-l) {
    &__list {
      grid-template-columns: 1fr;
    }

    &__item {
      img {
        object-position: center;
        aspect-ratio: 2/1;
      }

      &:last-child {
        grid-column: auto;
      }
    }
  }
}
